body {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

.multiViewBox {
    position: absolute;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: sans-serif;
    transform: translate(-50%,-50%);
    border-width: 5px;
    border-color: rgba(180,180,180,1);
    pointer-events: none;
    /* outline: rgba(180,180,180,1); */
    /* outline-width: 5px; */
    /* outline-style: solid; */
}

.outerContainer {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    overflow: hidden;
}

.inputTitle {
    font-size: 22px;
    background-color: rgba(70,70,70);
    color: white;
    text-shadow: 1px 1px 0px black;
    padding: 4px 8px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    position: absolute;
    bottom: 25px;
    /* margin: 0 15%; */
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
    pointer-events: all;
    border-width: 1.5px;
    opacity: 0.7;
}

.multiViewBox.program {
    border-color: red !important;
}

.multiViewBox.preview {border-color: #0de416;}

div#clock {
    font-size: 68px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.audioMeter {
    width: 25%;
    padding: 10px 0px 10px 5px;
    display: flex;
    align-items: flex-end;
    overflow: visible;
}

.audioMeterContainer {
    height: 95%;
    width: 100%;
    position: relative;
    display: flex;
    pointer-events: none;
}

.actualMeter {
    height: 90%;
    width: 22%;
    /* transition: all 0.05s ease; */
    background: linear-gradient(0deg, #4CAF50 0%, #4CAF50  53.2%, #FFEB3B 36%, #FFEB3B 85%, #F44336 59%, rgb(221 81 81 / 1) 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-mask: url(./mask.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    /* clip-path: inset(0% 0% 0% 0%) !important; */
    -webkit-mask-position: bottom;
    position: absolute;
    opacity: 0.7;
}

.leftAlignContainer {
    height: 74%;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    position: absolute;
    left: 4px;
    width: 7%;
    bottom: 8px;
}

.VUlabel {
    font-size: 1.4rem;
    color: gainsboro;
    height: 10%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transform-origin: right;
    overflow: visible;
}

.VUlabels {
    overflow: visible;
    position: absolute;
    right: 1px;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-direction: column;
    padding: 10px 0px 10px 5px;
}

.LRlabel {
    font-size: 2rem;
    color: gainsboro;
    transform-origin: top;
    overflow: visible;
    display: inline;
    width: 53%;
}

.LRlabels {
    display: flex;
    justify-content: space-evenly;
    width: 69%;
    padding-left: 6%;
}

.testdiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.meterOutline {
    height: 90%;
    width: 22%;
    /* transition: all 0.05s ease; */
    background: url(./mask.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask: url(./mask.png);
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    clip-path: inset(0% 0% 0% 0%) !important;
    -webkit-mask-position: bottom;
    position: absolute;
    opacity: 0.2;
}

.warning {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: white;
    font-size: xxx-large;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}